# ┌───────────── minute (0 - 59)
# │ ┌───────────── hour (0 - 23)
# │ │ ┌───────────── day of the month (1 - 31)
# │ │ │ ┌───────────── month (1 - 12)
# │ │ │ │ ┌───────────── day of the week (0 - 6) (Sunday to Saturday;
# │ │ │ │ │                                   7 is also Sunday on some systems)
# │ │ │ │ │
# │ │ │ │ │
# * * * * * command to execute
33 * * * * * /bin/echo "hi Martin" | logger
55 * * * * * /home/martinfreiwald/updating_webpage.sh




###### Script for Crontab assignment  #######

sudo su

chmod= -x updating   #REMOVES EXECUTE PERMISSIONS FOR ALL CATAGORIES (OWNER/GROUP/OTHER) FROM UNIX AND LINUX ADMINISTRATORS HANDBOOK FITH EDITION #

/var/www/html/index.html

#!/bin/bash
time=$(date)
echo "<html><body><h1>hi there, the time is $time, how are you?</h1></body></html>" > /var/www/html/index.html

ls -l

./updating_webpage.sh

pwd #copy path to script#
/home.martinfreiwald/updating_webpage.sh

